# Flutter
practice/.dart_tool/
practice/build/
practice/.flutter-plugins
practice/.flutter-plugins-dependencies
practice/.packages

# Android
practice/android/.gradle/
practice/android/local.properties

# iOS
practice/ios/Pods/

# Backend
cardvault_backend/node_modules/
cardvault_backend/.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
